<single-spa-router>
  <main>
    <div>
      <application name="@dalet/new-ang"></application>
    </div>
    <div>
      <application name="@dalet/sec-ang"></application>
    </div>
<!--    <route path="new-ang">-->
<!--      <application name="@dalet/new-ang"></application>-->
<!--    </route>-->
  </main>
</single-spa-router>
